/* line 2, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
html, body, article, div, span, button, input,
h1, h2, h3, h4, h5, h6, header, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

/* line 16, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.group::after {
  content: "";
  display: block;
  clear: both;
}

/* line 27, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.player-top > img {
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  float: left;
  margin-left: -10px;
  margin-top: -10px;
}

/* line 37, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
body
.container::after {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  height: 100%;
  width: 100%;
  border-top: 15px solid rgba(37, 111, 111, 0.35);
  border-left: 15px solid rgba(37, 111, 111, 0.35);
  border-radius: inherit;
}

/* line 53, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.player {
  position: relative;
  background: lightcyan;
  margin: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

/* line 64, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.controls {
  display: block;
  width: auto;
  float: left;
}

/* line 74, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.control-el {
  position: relative;
  display: block;
  margin: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0 solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
}

/* line 90, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.control-el > .slider {
  display: none;
  position: absolute;
  padding: 10px 0;
  margin-left: 40px solid transparent;
  top: 0;
  left: 45px;
}

/* line 99, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.control-el:hover > .slider {
  display: block;
  position: absolute;
}

/* line 104, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.control-el:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 108, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.player-top > header {
  height: 150px;
  overflow: hidden;
}

/* line 113, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
h3, h4 {
  font-family: "Quattrocento", serif;
  font-size: 20px;
}

/* line 118, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
h3 {
  font-weight: 700;
}

/* line 122, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
h5 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
}

/* line 127, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
h3, h4, h5 {
  margin: 8px;
}

/* line 131, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
header {
  margin: 10px 10px;
}

/* line 135, /home/ubuntu/workspace/app/assets/stylesheets/style.scss */
.progress-bar {
  height: 40px;
  margin: 10px 10px 0 160px;
  background-image: url(https://i.ytimg.com/vi/TQBCCToel5I/maxresdefault.jpg);
  background-position: 0 -50%;
  overflow: hidden;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

