$serif: 'Quattrocento', serif;
$sans: 'Quattrocento Sans', sans-serif;
$logo: 'Dosis', sans-serif;
// $accent: 'Simonetta', serif;
$primary-color: #66b2ff;
$accent-hint: hsla(8, 77%, 15%, 0.35);
$accent-color: hsla(8, 77%, 15%, 0.75);
$accent-opaque: hsla(8, 77%, 15%, 1);
$accent-loud: #FFC400;
$accent-loud-dark: #FFA000;
$img-height: 175px;
$player-padding: 20px;

.player-top > img {
  top: 0;
  left: 0;
  height: $img-height;
  width: $img-height;
  margin-right: 70px;
  float: left;

}

[class*="icon-big"] {
  position: absolute;
  margin-left: $img-height - 50px;
  margin-top: 125px;
  height: 100px;
  width: 100px;
  border: none;
  background-color: transparent;
  background-image: image-url("Sprites-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 300px 200px;
}

.icon-big-play:hover {
  border: none;
  background-color: transparent;
  background-position: -100px 0;

}
.icon-big-play:active {
  border: none;
  background-color: transparent;
  background-position: -200px 0;

}

.icon-big-pause {
  background-position: 0 -100px;

}
.icon-big-pause:hover {
  border: none;
  background-color: transparent;
  background-position: -100px -100px;

}
.icon-big-pause:active {
  border: none;
  background-color: transparent;
  background-position: -200px -100px;

}

[class*="icon-small"] {
  display: inline-block;
  position:relative;
  height: 60px;
  width: 60px;
  border: none;
  background-color: transparent;
  background-image: image-url("Sprites-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 180px 360px;
}

.icon-small-vol{
  background-position: 0 0;
}

.icon-small-vol:hover {
  background-position: -60px 0;
}
.icon-small-vol:active {
  background-position: -120px 0;
}

.icon-small-forward{
  background-position: 0 -60px;
}

.icon-small-forward:hover {
  background-position: -60px -60px;
}
.icon-small-forward:active {
  background-position: -120px -60px;
}

.icon-small-back{
  background-position: 0 -120px;
}

.icon-small-back:hover {
  background-position: -60px -120px;
}
.icon-small-back:active {
  background-position: -120px -120px;
}

.icon-small-speed{
  background-position: 0 -180px;
}

.icon-small-speed:hover {
  background-position: -60px -180px;
}
.icon-small-speed:active {
  background-position: -120px -180px;
}

.icon-small-mute{
  background-position: 0 -240px;
}

.icon-small-mute:hover {
  background-position: -60px -240px;
}
.icon-small-mute:active {
  background-position: -120px -240px;
}

.icon-small-unmute{
  background-position: 0 -300px;
}

.icon-small-unmute:hover {
  background-position: -60px -300px;
}
.icon-small-unmute:active {
  background-position: -120px -300px;
}

[class*="icon-small"] > input {
  -webkit-appearance: slider-vertical;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 70px;
  top: -70px;
  left: 7px;
  background-color: $accent-loud;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

[class*="icon-small"]:hover > input {
  opacity: 1;
  pointer-events: all;

}

[class*="icon-mini"] {
  display: inline-block;
  position: absolute;
  height: 25px;
  width: 25px;
  border: none;
  margin-left: -30px;
  background-color: transparent;
  background-image: image-url("Sprites-3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100px 125px;
}

.icon-mini-follow {
  background-position:  -25px  -75px;
}
.icon-mini-follow.awesome{
  background-position:  -50px -75px;
}
.icon-mini-follow:hover {
  background-position:  -0px -75px;
}
.icon-mini-follow:active {
  background-position:  -75px -75px;
}
.icon-mini-share {
  background-position:  -25px -100px;
}
.icon-mini-share.awesome{
  background-position:  -50px -100px;
}
.icon-mini-share:hover {
  background-position:  -0px -100px;
}
.icon-mini-share:active {
  background-position:  -75px -100px;
}
.icon-mini-star {
  background-position:  -25px -50px;
}
.icon-mini-star.awesome{
  background-position: -50px -50px;
}
.icon-mini-star:hover {
  background-position:  -0px -50px;
}
.icon-mini-star:active {
  background-position:  -75px -50px;
}
.icon-mini-like {
  background-position: -25px -25px;
}
.icon-mini-like.awesome{
  background-position:  -50px -25px;
}
.icon-mini-like:hover {
  background-position:  -0px -25px;
}
.icon-mini-like:active {
  background-position:  -75px  -25px;
}
.icon-mini-download {
  background-position:  0 -25px 0;
}
.icon-mini-download.awesome{
  background-position:  -50px 0;
}
.icon-mini-download:active {
  background-position:  -75px 0;
}


.player {
  position: relative;
  background: white;
  margin: 2px 0;
  border-radius: 5px;
  overflow: hidden;
  padding: $player-padding
}

.pop-ups {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  float: left;
  position: absolute;
  display: block;
  top: $img-height - 55px;
  left: $img-height + 70px;
}




.player-top {
  box-sizing: padding-box;
  height: $img-height;
  overflow: hidden;
  padding-bottom: 20px
}
.player-top > header {
  width: auto;
  padding-right: 35px;
}

h3, h4 {
  font-family: $serif;
  font-size: 20px;
}

h3 {
  font-weight: 700;
}

h5 {
  height: 95px;
  font-family: $sans;
  font-size: 14px;
  overflow: hidden;
  white-space: pre-wrap;
}


h3, h4, h5 {
  margin-bottom: 8px;
}


.player-bottom {
  padding-left: (49px + $img-height);
  margin-bottom: 20px;
}

.progress-bar, .annotation-markerbar {
  margin: 0 10px 0 0;
}

.progress-bar {
  height: 3px;
  background-color: $accent-color;
  overflow: hidden;
}


.annotation-markerbar {
  margin-bottom: 10px;
  margin-top: -10px;
}

.annotation-marker {
  box-sizing: content-box;
  height: 20px;
  width: 20px;
  border-radius: 45% 0 45% 45%;
  transform: rotate(-.125turn) translateX(-50%);
  position: absolute;
  border: 2px solid $accent-color;
  overflow: hidden;
  z-index: 100;
}

.annotation-marker.active {
  border: 4px solid $accent-loud-dark;
  z-index: 150;
}

.annotation-marker > img {
  height: 45px;
  width: 45px;
  margin-left: -18px;
  margin-top: -7px;
  transform: rotate(.125turn);
  background-color: white;
}

.annotation-markerbar {
  position: relative;
  height: 25px;
}

.annotation-box {
  position: relative;
  height: 0;
  display: block;
  overflow: hidden;

}
.annotation-box ol {
  overflow-y: scroll;
  height: 75px;
}

.new-ann-buttons {
  float:left;
  width: 30px;
}

.new-ann-buttons > button {
  margin: 7px;
  float: left;
}

.annotation-box.active {
  width: 700px;
  box-sizing: border-box;
  height: 100px;
  padding-top: 15px;
}

.annotation-box label {
  font-size: 16px;
  float: left;
  width: 575px;
}
.annotation-box textarea {
  font-size: 16px;
  height: 50px;
  margin-bottom: 0;
}

.new-annotation-button {
  position: relative;
  display: block;
  float: left;
  margin: 10px;
  margin-left: 0;
  margin-top: 30px;
}

.annotation-body {
  font-family: $sans;
  font-size: 16px;

}

.annotation-body.active {
  font-weight: bold;
  font-family: $serif;

}