// reset
html, body, article, div, span, button, input,
h1, h2, h3, h4, h5, h6, header,  p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.group::after {
  content: "";
  display: block;
  clear: both;
}

$serif: 'Quattrocento', serif;
$sans: 'Quattrocento Sans', sans-serif;
$img-height: 150px;
$player-padding: 10px;

.player-top > img {
  top: 0;
  left: 0;
  height: $img-height;
  width: $img-height;
  float: left;
  margin-left: -$player-padding;
  margin-top: -$player-padding;
}

body

.container::after {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  height: 100%;
  width: 100%;
  border-top: 15px solid hsla(180, 50%, 29%, 0.35);
  border-left: 15px solid hsla(180, 50%, 29%, 0.35);
  border-radius: inherit;
}

.player {
  position: relative;
  background: lightcyan;
  margin: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}
.controls {
  display: block;
  width: auto;
  float: left;
}

.play-button {


}
.control-el{
  position: relative;
  display: block;
  margin: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0 solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
}



.control-el > .slider {
  display: none;
  position: absolute;
  padding: 10px 0;
  margin-left: 40px solid transparent;
  top: 0;
  left: 45px;
}

.control-el:hover > .slider {
  display: block;
  position: absolute;
}

.control-el:hover {
  background-color: rgba(0, 0, 0, 0.7)
}

.player-top > header {
  height: $img-height;
  overflow: hidden;
}

h3, h4 {
  font-family: $serif;
  font-size: 20px;
}

h3 {
  font-weight: 700;
}

h5 {
  font-family: $sans;
  font-size: 14px;
}

h3, h4, h5 {
  margin: 8px;
}

header {
  margin: 10px 10px;
}

.progress-bar {
  height: 40px;
  margin: 10px 10px 0 (10px + $img-height);
  background-image: url(https://i.ytimg.com/vi/TQBCCToel5I/maxresdefault.jpg);
  background-position: 0 -50%;
  overflow: hidden;
}

.annotation-marker {
  height: 20px;
  width: 20px;
  border-radius: 45% 0 45% 45%;
  transform: rotate(-.125turn);
  position: absolute;
  border: 1px solid black;
  overflow: hidden;
}

.annotation-marker > img {
  height: 28px;
  width: 28px;
  margin-left: -4px;
  margin-top: -4px;

  transform: rotate(.125turn);
  background-color: white;
}

.annotation-markerbar {
  position: relative;
  height: 25px;
}

.annotation-marker.active {
  border: 5px solid red;
}
