// reset
html, body, article, div, span, button, input, header,
h1, h2, h3, h4, h5, h6, header,  p, strong, em, a , ol {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  z-index:inherit;
  text-align: left;
}

ol, ul {
  list-style: none;
}
.group::after {
  content: "";
  display: block;
  clear: both;
}

$serif: 'Quattrocento', serif;
$sans: 'Quattrocento Sans', sans-serif;
$logo: 'Dosis', sans-serif;
// $accent: 'Simonetta', serif;
$primary-color: #66b2ff;
$accent-hint: hsla(8, 77%, 15%, 0.35);
$accent-color: hsla(8, 77%, 15%, 0.75);
$accent-opaque: hsla(8, 77%, 15%, 1);
$accent-loud: #FFC400;
$accent-loud-dark: #FFA000;
$img-height: 175px;
$player-padding: 20px;


body{
  font-family: $sans;
  font-size: 16px;
  color: black;
  background-color: hsla(8, 77%, 15%, 0.1)
}


.w {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

label {
  display: block;
  font-family: $serif;
  font-weight: bold;
  font-size: 20px;
}

input, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border : 1px solid $accent-color;
  background-color: $accent-hint;
  border-radius: 0 7px 0 7px;
  padding: 7px;
  margin-top: 7px;
  margin-bottom: 16px;
  font-size: 20px;
  font-family: $logo;
  font-weight: normal;

}

button {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-family: $logo;
  font-weight: 600;
  padding: 5px 9px;
  margin: 10px;
  background-color: $accent-color;
  border: 1px solid $accent-opaque;
  border-radius: 5px;
}

button:hover {
  background-color: $accent-opaque;
  opacity: .95;
}

button:disabled:hover {
  border-color: $accent-loud-dark;
  color: $accent-loud;
}

strong {
  display: block;
  color: $accent-loud-dark;
  font-family: $sans;
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: normal;
}

.button-cancel {
  background-color: white;
  border-color: $accent-loud-dark;
  color: $accent-loud-dark;
}

.login-buttons, .user-status, .pagination{
  text-align: right;
}



.modal-scrim {
  display:block;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  background-color: $accent-opaque;
  z-index: -1;

}

.modal-content {
  position: relative;
  width: 500px;
  margin-left: 50%;
  top: 65px;
  bottom: 65px;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid $accent-opaque;
  border-radius: 25px;
  overflow: hidden;
}

.modal-content button {
  margin-right: 0;
  margin-bottom: 0

}

.modal {
  z-index: 1000;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s, height .2s;


}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal form {
  box-sizing: border-box;
  padding: 40px;
}


.search {

}
