// reset
html, body, article, div, span, button, input, header,
h1, h2, h3, h4, h5, h6, header,  p, strong, em, a , ol {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  z-index:inherit;
}

ol, ul {
  list-style: none;
}
.group::after {
  content: "";
  display: block;
  clear: both;
}

$serif: 'Quattrocento', serif;
$sans: 'Quattrocento Sans', sans-serif;
$logo: 'Dosis', sans-serif;
$accent: 'Simonetta', serif;
$primary-color: #66b2ff;
$accent-color: hsla(8, 77%, 15%, 0.75);
$accent-opaque: hsla(8, 77%, 15%, 1);
$img-height: 150px;
$player-padding: 10px;


body{
  font-family: $sans;
  font-size: 16px;
  color: black;
}

label {
  display: block;
}
input {
  display: block;
}


button {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-family: $logo;
  font-weight: 600;
  padding: 5px 9px;
  margin: 10px;
  background-color: $accent-color;
  border: 1px solid $accent-opaque;
  border-radius: 5px;
}

.player-top > img {
  top: 0;
  left: 0;
  height: $img-height;
  width: $img-height;
  float: left;
  margin-left: -$player-padding;
  margin-top: -$player-padding;

}


.top-bar {
  margin: 0;
  padding: 15px 25px;
  background-color: $primary-color;
}

.logo {
  font-family: $logo;
  float: left;
}

.logo > span:first-child {
  font-weight: 800;
  font-size: 30px;
}

.logo > span:last-child {
  font-weight: 600;
  font-size: 20px;
}

nav {
  display: block;
  font-family: $serif;
  font-size: 24px;
}
.nav-el {
  float: left;
  padding: 25px 0;
}

.nav-el > a:hover {
  color: $primary-color;
}
nav .nav-el:not(:last-child):after {
  content: "//";
  color: $primary-color;
  margin: 20px

}

.nav-el.active > a {
  font-family: $accent;
  font-weight: 800;
}


.play-button {
  height: 30px;
  width: 30px;
  border-radius: 45%;
  background-color: #eee;
}

.container::after {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  height: 100%;
  width: 100%;
  border-top: 15px solid hsla(180, 50%, 29%, 0.35);
  border-left: 15px solid hsla(180, 50%, 29%, 0.35);
  border-radius: inherit;
}

.player {
  position: relative;
  background: white;
  margin: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}
.controls {
  display: block;
  width: auto;
  float: left;
}

.play-button {


}
.control-el{
  position: relative;
  display: block;
  margin: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0 solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
}



.control-el > .slider {
  display: none;
  position: absolute;
  padding: 10px 0;
  margin-left: 40px solid transparent;
  top: 0;
  left: 45px;
}

.control-el:hover > .slider {
  display: block;
  position: absolute;
}

.control-el:hover {
  background-color: rgba(0, 0, 0, 0.7)
}

.player-top > header {
  height: $img-height;
  overflow: hidden;
}

h3, h4 {
  font-family: $serif;
  font-size: 20px;
}

h3 {
  font-weight: 700;
}

h5 {
  font-family: $sans;
  font-size: 14px;
}

h3, h4, h5 {
  margin: 8px;
}

header {
  margin: 10px 10px;
}

.progress-bar, {
  height: 40px;
  margin: 10px 10px 0 0;
  background-image: url(https://i.ytimg.com/vi/TQBCCToel5I/maxresdefault.jpg);
  background-position: 0 -50%;
  overflow: hidden;
}

.player-bottom {
  padding-left: (10px + $img-height);
  margin-bottom: 20px;
}

.annotation-markerbar {
  margin-bottom: 10px;
  margin-top: -10px;
}

.annotation-marker {
  height: 20px;
  width: 20px;
  border-radius: 45% 0 45% 45%;
  transform: rotate(-.125turn) translateX(-50%);
  position: absolute;
  border: 2px solid black;
  overflow: hidden;
  z-index: 100;
}

.annotation-marker.active {
  border: 5px solid red;
  z-index: 150;
}

.annotation-marker > img {
  height: 28px;
  width: 28px;
  margin-left: -4px;
  margin-top: -4px;
  transform: rotate(.125turn);
  background-color: white;
}

.annotation-markerbar {
  position: relative;
  height: 25px;
}

.annotation-box {

  height: 0;
  border: 0px solid orange;
  display: block;
  overflow-y: scroll;

}
.annotation-box.active {
  height: 60px;
  border: 3px solid orange;
}
.annotation-body {
  font-family: $sans;
  font-size: 14px;

}

.annotation-body.active {
  font-weight: bold;
  font-family: $serif;

}

.modal-scrim {
  display:block;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  background-color: red;
  z-index: -1;

}

.modal-content {
  position: relative;
  width: 600px;
  height: 600px;
  margin-left: 50%;
  margin-top: 100px;
  transform: translateX(-50%);
}
.modal {
  z-index: 1000;
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s
}

.modal-content {
  background-color: white;
}
